@use '../variables' as *;
@use '../mixins' as *;
@use "sass:color";
html,
body {
  font-family: $openSans;
  height: 100%;
  font-size: 20px;  
  @include respond-max-to("xl") {
    font-size: 32px;
  }
  @include respond-max-to('md'){
    font-size: 52px;
  }
  @include respond-max-to('sm'){
    font-size: 82px;
  }
}
body{
  background-color: $bodyBgColor;
  color: $primaryColor;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bodyBgColor; // или белый #fff
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
.wrapper {
  max-width: 96em;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  // @include respond-to("xxl"){
  //   margin-left: 80px;
  //   margin-right: 80px;
  // }
  .content{
    padding-top: 100px;
    flex: 1 0 auto;    
  }
  .footer{

  }
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.container{
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  @include respond-max-to("md"){
    max-width: none;
    width: 95%;
  }
}


// Slider

.slider {
  position: relative;
  width: 708px;
  height: 516px;
  margin: auto;
  background: $slideColor;
  box-shadow: 0px 8px 40px rgba(172, 178, 184, 0.32);
  border-radius: 60px;
  overflow: hidden;
  @include respond-max-to("xl"){
    width: 808px;
    height: 616px;    
  }
  @include respond-max-to('md') {
   width: 100%;
   height: 1100px;
   margin-top: 120px;
  }
  @include respond-max-to('sm') {
    margin-top: 200px;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 99px;
    left: 15px;
    @include respond-max-to('md'){
      top: 120px;
      left: 170px;
    }
  }

  &__track {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 360px;
    position: absolute;    
    display: flex;
    text-align: center;
    font-size: 24px;
    box-shadow: 14.9732px 12.8342px 36.3635px rgba(0, 0, 0, 0.25);
    border-radius: 12.8342px;
    overflow: hidden;
    @include respond-max-to("xl"){
      width: 460px;
    }
    @include respond-max-to('md'){
      width: 50%;
      border-radius: 32px;
    }
    img{
      width: 100%;
    }
  }

  &__arrow {
    padding: 0;
    position: absolute;
    top: calc(50% - 99px);
    transform: translateY(-50%);
    background: $bodyBgColor;
    border-radius: 50%;    
    width: 62px;
    height: 62px;
    font-size: 0;
    cursor: pointer;
    border: none;
    z-index: 15;
    @include respond-max(1200px){
      width: 72px;
      height: 72px;
    }
    @include respond-max-to('md'){
      top: calc(50% - 120px);
      width: 120px;
      height: 120px;
    }
    &::before{
      content:"";
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 10px;
      height: 17px;
      background: url('../../assets/images/slide-arrow.svg') no-repeat 0 0;
      background-size: 100% 100%;
      @include respond-max(1200px) {
          width: 21px;
          height: 28px; 
        }
      @include respond-max-to('md'){
        width: 51px;
        height: 58px;
      }
    }
    &--left {
      left: 13px;
      @include respond-max-to('md'){
        left: -127px;
      }
    }

    &--right {
      right: 43px;
      @include respond-max-to('md') {
          right: 213px;
        }
      &::before{
        transform: translate(-50%,-50%) rotate(180deg);
      }
    }
  }
  &__dots{
    position: absolute;
    z-index: 15;
    bottom: 139px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:14px;
    left: -15px;
    @include respond-max-to('md'){
      left: -170px;
      bottom: 160px;
    }
  }
  &__dot{
    padding: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: $bodyBgColor;
    border: none;
    @include respond-max(1680px){
      width: 24px;
      height: 24px;
    }
    @include respond-max-to('md'){
      width: 32px;
      height: 32px;
    }
    &.active{
      background-color: $activeColor;
    }
  }
}

// Tabs

.tabs {
    &__header {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }
    &__item{
      padding: 40px;
      position: relative;
      border-radius: 32px;
      min-height: 173px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;   
      @include respond-max(1597px){
        min-height: 200px;
      }
      @include respond-max-to("md"){
        padding: 20px;
        justify-content: center;
        background-color: $bodyBgColor;
        border: 1px solid color.adjust($contactsColor, $lightness: -5%);
        overflow: hidden;
      } 
     
      &.active{
        @include respond-max-to("md"){
          background-color: $contactsColor;
          .tabs__item-icon{
            background-color: transparent!important;
          }
        }
        &::before{
          background-color: $contactsColor;
          top: 2px;
          bottom: 2px;
          right: 2px;
          left: 2px;
          border-radius: 30px;          
        }
        .tabs__item-botton{
          &::after{
            width: 16px;
            height: 15px;
            background: url('../../assets/images/close.svg') no-repeat 0 0;
            background-size: 100% 100%;
            @include respond-max-to('lg'){
              width: 20px;
              height: 19px;
            }
          }
        }
        .tabs__item-icon{
          background-color: $contactsColor;
        }
      }
      &:hover{
        &::before,.tabs__item-icon{
          background-color: $contactsColor; 
          @include respond-max-to("md") {
            background-color: transparent;
            }
        }
      }
      &::after{
        content:"";
        position: absolute;
        display: block;
        inset:0;
        background: linear-gradient(90deg,
              #D74596 0%,
              #F2464E 37%,
              #857ADD 69%,
              #0192DE 100%);
        pointer-events: none;
        border-radius: 32px;
        transition: all 0.3s ease; 
        @include respond-max-to("md") {
            display: none;
          }
      }
      &::before{
        content:"";
        position: absolute;
        display: block;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        background-color: #fff;
        pointer-events: none;
        border-radius: 31px;
        z-index: 1;
        transition: all 0.3s ease; 
        @include respond-max-to("md"){
          display: none;
        }
      }

      span{
        position: relative;
        z-index: 2;
      }
      &-icon{
        position: absolute;
        top: -40px;
        z-index: 2;
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bodyBgColor;
        border-radius: 50%;
        transition: all 0.3s ease;
        @include respond-max-to("md") {
            position: static;
            width: 200px;
            height: 200px;
            border-radius: 0;
            background: transparent;
          }
      }

      &-txt{
        font-weight: 700;
        font-size: 24px;
        max-width: 262px;
        @include respond-max(1200px) {
            font-size: 32px;  
          }
        @include respond-max-to("md"){
          font-size: 0;
        }
      }
      &-botton{
        padding: 0;
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: linear-gradient(90deg,
              #D74596 0%,
              #F2464E 37%,
              #857ADD 69%,
              #0192DE 100%);
        @include respond-max(1023px){
          width: 68px;
          height: 68px;
        }        
        @include respond-max-to("md"){
          display: none;
        }      
        &::before{
          content:"";
          position: absolute;
          top: 1px;
          bottom: 1px;
          right: 1px;
          left: 1px;
          background-color: #fff;
          pointer-events: none;
          border-radius: 50%;
        }
        &::after{
          content:"";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 24px;
          transform: translate(-50%, -50%);
          background-image: url('../../assets/images/arrow-left.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 10px 17px;
          z-index: 1;
          @include respond-max(1023px) {
            background-size: 20px 27px;
            }
        }
      }
    }
    &__content{
      padding-top: 48px;
      padding-bottom: 88px;
      @include respond-max-to('md'){
        padding-top: 88px;
        padding-bottom: 196px;
      }
      &-info{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: -100;
        opacity: 0;
        @include respond-max-to('md'){
          flex-flow: column;
        }
        &.-active{
          opacity: 1;
          position: relative;
          z-index: 1;
        }
      }
      &-picturebox{
        @extend .slider;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        h2{
          font-size: 56px;
          width: min-content;
          opacity: 0.5;
          line-height: 1.3;
          @include respond-max-to("md"){
            font-size: 120px;
            font-weight: 800;
            line-height: 1;
            margin-left: 30px;
          }
        }
        .tabs__item-icon{
          top: 40px;
          left: 40px;
        }
      }
      &-left{
        padding-right: 120px;
        flex-grow: 1;        
        line-height: 1.6;
        @include respond-max-to("sm"){
          padding-right: 0;
        }
      }
      &-desc{
        p{
          margin-top: 0;
          margin-bottom: 0;
          @include respond-max-to("xl") {
              br{
                display: none;
              }   
            }
        }
        p+p{
          margin-top: 24px;
        }
        .btn+p,.btn+ul{
          margin-top: 20px;
          @include respond-max-to('md') {
              margin-top: 60px;
            }
          @include respond-max-to('sm') {
              margin-top: 80px;
            }
        }
        &+&{
          margin-top: 40px;
          @include respond-max-to('md'){
            margin-top: 80px;
          }
          @include respond-max-to('sm'){
            margin-top: 140px;
          }
        }
      }
      &-list{
        &_item{
          position: relative;
          padding-left: 30px;
          &::before{
            content:"";
            position: absolute;     
            top: 13.5px;
            left: 13px;       
            width: 4px;
            height: 5px;
            border-radius: 50px;
            background-color: $primaryColor;
          }
        }
      }
    }
  }

  // FORM

  .form-section{
    padding: 96px 0 130px;
    background-color: $contactsColor;
    &__main{
      position: relative;
      padding: 95px 70px;
      background-color: $bodyBgColor;
      box-shadow: 0px 8px 40px rgba(172, 178, 184, 0.32);
      border-radius: 32px;
      flex-grow: 1;
      @include respond-max-to('lg'){
        width: 100%;
      }
      &-title{
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 64px;
        @include respond-max-to('xl'){
            font-size: 62px;
        }
        @include respond-max-to('md'){
            font-size: 92px;
        }
        @include respond-max-to('sm'){
            font-size: 120px;
        }
      }
      .mail-bg{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 377px;
        height: 365px;
        background: $bodyBgColor url('../../assets/images/mail-bg.svg') no-repeat 0 0;
        background-size: 100% 100%;
        z-index: 1;
        pointer-events: none;
        opacity: 0.05;
      }
    }
    &__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:180px;
      @include respond-max-to('lg'){
        flex-flow: column;
        align-items: flex-start;
      }
    }
    &__info{
      max-width: 490px;
      width: 100%;
      @include respond-max-to('lg'){
        max-width: none;        
      }
      &-title{
        @include mainTitle;
        @include respond-max-to('xxl') {
          margin-bottom: 70px;
        }
        @include respond-max-to('xl') {
          margin-bottom: 100px;
        }
        @include respond-max-to('sm'){
          margin-bottom: 160px;
        }
      }
      &-desc{
        &+&{
          margin-top: 60px;
        }       
        &_body{
          display: flex;
          gap: 16px;
          @include respond-max-to('md') {
              gap: 32px;
            }
          @include respond-max-to('sm'){
           gap: 48px;
          }
          &+&{
            margin-top: 12px;
            @include respond-max-to('lg') {
              margin-top: 22px;
            }
            @include respond-max-to('md') {
              margin-top: 32px;
            }
            @include respond-max-to('sm') {
              margin-top: 62px;
            }
          }
        }
        &_head{
          display: flex;
          color: rgba(28, 31, 35, 0.64);
          font-size: 16px;
          margin-bottom: 14px;
          @include respond-max-to('xl'){
            font-size: 32px;
            margin-bottom: 24px;
          }
          @include respond-max-to('lg'){
            font-size: 52px;
            margin-bottom: 54px;
          }
          @include respond-max-to('md'){
            font-size: 62px;
            margin-bottom: 64px;
          }
          @include respond-max-to('sm'){
            font-size: 82px;
            margin-bottom: 74px;
          }
        }
        &_icon{
          position: relative;
          padding-top: 10px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include respond-max-to('lg'){
            width: 52px;
            height: 52px;
          }
          @include respond-max-to('md') {
            width: 72px;
            height: 72px;
          }
          @include respond-max-to('sm') {
            padding-top: 20px;
            width: 100px;
            height: 100px;
          }
          i{
            font-size: 32px;
            line-height: 1;
            display: block;
            color: $checkboxColor;
            @include respond-max-to('lg'){
              font-size: 52px;
            }
            @include respond-max-to('md'){
              font-size: 72px;
            }
            @include respond-max-to('sm'){
              font-size: 100px;
            }
          }
        }
        &_text{
          font-size: 32px;
          font-weight: 700;
          line-height: 42px;
          @include respond-max-to('xl') {
              font-size: 42px;
              line-height: 1;
              br{
                display: none;
              }
            }
          @include respond-max-to('lg'){
            font-size: 52px;
            br{
              display: block;
            }
          }
          @include respond-max-to('md') {
            font-size: 72px;
          }
          @include respond-max-to('sm') {
            font-size: 100px;
          }
          a{
            color: $primaryColor;
            text-decoration: none;
          }
        }
      }
    }
  }

