section.section.features
  .features__img.-left
  .features__info
    ul.features__list 
      li.features__item.animate Create multi-channel campaigns in minutes with AI assistance.
      li.features__item.animate Get deep insights into your performance, audience and trends.
      li.features__item.animate Find and qualify leads automatically using smart filters.
      li.features__item.animate Create multi-channel campaigns in minutes with AI assistance.
    +button('base', 'Explore More', { href: '#', onClick: 'return false' }, 'a','animate')
  .features__img.-right