section.section.neuron__hero
  .container
    aside.neuron__hero-aside
      h1.neuron__title Unlock Growth AI Marketing
      h3.neuron__subtitle Empower your startup
      ul.neuron__hero-list 
        li.neuron__hero-listItem 
          span do
          mark $10 000
          span.ellipsis consectetur elit
        li.neuron__hero-listItem 
          mark.ml-0 30%
          span sed do eiusmod tempor 
        li.neuron__hero-listItem 
          span do
          mark 17%
          span.ellipsis adipiscing elit sed do
      +button('base', 'Get Started', { href: 'https://github.com/', target: '_blank' }, 'a')
  .neuron__hero-after
    .neuron__hero-after-bg