// Fonts
$prata : 'Prata';
$arial : Arial, sans-serif;

// Colors
$bodyBgColor:#282829;
$contentBgColor:#222222;
$listBorder:#55565A;
$primaryColor:#fff;
$formColor:#38535D;
$inputBorderColor:#D6D6D6;
$inputHoverBorderColor:#D5C9BE;
$checkboxColor:#405D65;

// Breakpoints
$xs: 480px;
$sm: 767px;
$lg: 1023px;
$xl: 1335px;