// Fonts
$prata : 'Prata';
$arial : Arial, sans-serif;
$openSans : 'Open Sans',sans-serif;
$SansExtraBold : 'OpenSans-ExtraBold',sans-serif;

// Colors
$bodyBgColor:#ffffff;
$primaryColor:#131415;
$contactsColor:#EFF8FF;
$slideColor:#E1EAF7;
$activeColor:#0E90DE;
$checkboxColor:#268CDE;
$borderColor:#ED0189;

// Breakpoints
$xs: 480px;
$sm: 767px;
$lg: 1023px;
$xl: 1335px;