include ../mixins/icon.pug
include ../mixins/button.pug
include ../mixins/input.pug
include ../mixins/checkbox.pug
include ../mixins/menu.pug
include ../mixins/iconSvg.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Green Leaf
    link(rel="stylesheet" href="/styles/main.scss")
  body
    #preloader
      .spinner
    .wrapper
      main.content 
        block content
    script(type="module" src="/scripts/main.js")